.acquaintance {
  height: 549px;

  &__header {
    margin: 64px auto 32px;
  }

  &__text {
    width: 358px;
    height: 315px;

    margin-bottom: 57px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'Ledger', 'Times New Roman', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.04em;
  }

  &__paragraph {
    text-align: center;
  }

  &__consultation {
    text-decoration: none;
    text-align: center;
    font-family: 'Ledger', 'Times New Roman', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.04em;
    color: $c_main;

    width: 230px;
    height: 56px;

    margin-bottom: 64px;
    padding: 17px 16px 18px;

    border-radius: 25px;
    border: 1px solid transparent;
    border-top-color: #f7eedb;

    background-image: linear-gradient(180deg, #F7EEDB 0%, #DFCBA3 100%);
    box-shadow: 0px 16px 24px -16px #3B383840;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}