.astro-help {
  position: relative;
  height: 522px;

  &__header {
    text-align: center;
    margin-bottom: 16px;
    &-left-line,
    &-right-line {
      top: 20.5px
    }
  }

  &__content-wrapper {
    display: flex;
    gap: 6px;
  }

  &__calender {
    background-image: url(../images/calender-mobile.png);
    background-repeat: no-repeat;
    background-position: 78% 0%;
    width: 336px;
    height: 400px;
    margin: 32px 0 32px -197px;
  }

  &__list {
    height: 362px;
    padding-top: 51px;
    width: 60%;

    font-family: 'Ledger', 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.04em;
    text-align: left;
  }

  &__item {
    display: block;

    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 67px;
    }

    &--2,
    &--6 {
      margin-left: 16px;
    }

    &--3, 
    &--5 {
      margin-left: 32px;
    }

    &--4 {
      margin-left: 48px;
    }
  }
}