.burger-menu {
  display: flex;
  flex-direction: column;
  width: 40px;
  cursor: pointer;
  transform: scaleX(-1);
  position: relative;
  padding: 8px;
  z-index: 2;

  &__top-line,
  &__middle-line,
  &__bottom-line {
    box-sizing: border-box;
    border: 0.1px solid #000;
    margin-bottom: 5.93px;
    transition: 0.4s cubic-bezier(0.5, -0.6, 0.32, 0.5);
  }

  &__top-line:nth-of-type(1) {
    width: 50%;
  }

  &__middle-line:nth-of-type(2) {
    width: 100%;
  }

  &__bottom-line:nth-of-type(3) {
    width: 75%;
    margin-bottom: 0;
  }

  &__opener {
    opacity: 0;

    position: absolute;
    top: 0;
    right: 0;

    height: 30px;
    width: 40px;

    &[type="checkbox"]:checked ~ span:nth-of-type(1) {
      transform-origin: bottom;
      transform: rotateZ(-45deg) translate(5px, 9px);
    }

    &[type="checkbox"]:checked ~ span:nth-of-type(2) {
      transform-origin: top;
      transform: rotateZ(45deg);
    }

    &[type="checkbox"]:checked ~ span:nth-of-type(3) {
      transform-origin: bottom;
      width: 50%;
      transform: translate(1.5px, -3px) rotateZ(-45deg);
    }
  }
}