.footer {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
  }

  &__certificates {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto;

    &-1 {
      width: 286px;
      height: 204px;
      border-radius: 16px;
      margin-bottom: 24px;
      box-shadow: 0px 12.782122611999512px 19.17318344116211px -12.782122611999512px #3B383840;
    }

    &-2 {
      width: 231px;
      height: 164px;
      border-radius: 16px;
      margin-bottom: 64px;
      box-shadow: 0px 10.32402229309082px 15.48603343963623px -10.32402229309082px #3B383840;
    }
  }

  &__logo {
    margin-bottom: 64px;
  }

  &__contacts {
    display: flex;
    width: 100%;
    align-items: flex-end;

    &-licence {
      display: flex;
      align-items: center;
      font-family: 'Ledger', 'Times New Roman', Times, serif;
      font-size: 8px;
      font-weight: 400;
      line-height: 11px;
      text-align: left;
      margin-right: 52.8px;

      &-icon {
        @include square(8px);
        margin-right: 2px;
      }
    }

    &-icons {
      width: 80px;
      height: 32px;
      position: relative;
      &-instagram {
        @include square(32px);
        margin-right: 16px;
      }

      &-telegram {
        @include square(32px);
      }

      margin-right: 37px;
    }

    &-designer {
      font-family: 'Ledger', 'Times New Roman', Times, serif;
      font-size: 8px;
      font-weight: 400;
      line-height: 11px;
      text-align: left;
      text-transform: uppercase;
      color: #40392A;
      ;
    }    
  }

  &__link-instagram {
    position: absolute;
    top: 0;
    left: 0;

    @include square(32px);
  }

  &__link-telegram {
    position: absolute;
    top: 0;
    right: 0;

    @include square(32px);
  }
}