.menu {
  height: 667px;

  background-image: url("../images/menu-background.jpg");
  z-index: 1;

  &__content {
    margin-top: 128px;
  }

  &__list {
    margin: 0 auto 80px;
    width: 108px;
    height: 172px;
    list-style: none;

    font-family: 'Cormorant Infant', 'Times New Roman', serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.16em;
    text-align: center;
  }

  &__item {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    text-decoration: none;
    color: $c_main;
  }

  &__social-networks {
    margin: 0 auto 176px;
  }

  &__logo {
    margin: 0 auto 24px;
  }
}