.page {
  font-family: 'Cormorant Infant', Georgia, 'Times New Roman', serif;
  scroll-behavior: smooth;
  color: $c_main;
  overflow-x: hidden;

  &__body {
    background-image: url("../images/background-mobile.jpg");
    background-position: -390px 804px;
    overflow-x: hidden;
  }

  &__body--with-menu {
    overflow: hidden;
  }

  &__menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    transform: translateX(-100%);
    transition: transform 0.4s;
  }

  &__menu--opened {
    transform: translateX(0);
  }

  &__astro-help {
    margin-bottom: 16px;
  }
}