.services {
  position: relative;
  cursor: pointer; 

  &__header {
    &-right-line,
    &-left-line {
      top: 20.5px;
    }

    width: 100px;

    margin: 0 auto 32px;

    @include onNotebook {
      width: 200px;

      margin-bottom: 64px;

      &-right-line,
      &-left-line {
        top: 41.5px;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px; 

    &--mobile {
      display: block;
      
      @include onNotebook {
        display: none;
        visibility: hidden;
      }
    }
  }

  &__item {
    &-content {
      height: 0px;
      overflow: hidden;
      transition: height 1s ease;
    }

    &-background {
      position: relative;
      padding: 24px 16px 8px;
      margin-top: 16px;
      transition: height 1s ease;
      overflow: hidden;
      height: 0px;

      background-clip: content-box;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, #F7EEDB 0%, #DFCBA3 100%);
        border-radius: 40px;
        z-index: -1;
      }
    }

    &-header {
      margin-bottom: 16px;

      font-family: 'Cormorant Infant', 'Times New Roman', Times, serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      text-align: center;

      text-transform: uppercase;
    }

    &-text {
      width: 296px;
      margin-bottom: 32px;

      font-family: 'Ledger', 'Times New Roman', Times, serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0.04em;

      &--special {
        margin-bottom: 65px;
      }

      &--venus {
        margin-bottom: 50px;
      }
    }

    &-price {
      margin-bottom: 32px;

      font-family: 'Cormorant Infant', 'Times New Roman', Times, serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      text-align: center;      
    }

    &-arrow-wrapper {
      position: absolute;
      bottom: 8;
      left: 157;

      width: 16px;
      transform: rotate(180deg);
    }
  }

  &__content {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  &__consultation {
    display: block;

    @include onNotebook {
      display: none;
      visibility: hidden;
    }
  }

  &__slider {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    height: 460px;

    &-container {
      display: none;
      visibility: hidden;

      @include onNotebook {
        display: block;
        visibility: visible;
      }
      height: 460px;
      width: 2405px;
      position: relative;
      overflow: hidden;
      margin-bottom: 32px;
    }
  };

  &__slide {
    background: linear-gradient(180deg, #F7EEDB 0%, #E0CDA5 100%);
    border-radius: 20px;
    padding: 20.26px 12.07px 13.35px;
    position: relative;

    height: 234px;
    width: 208px;

    font-family: 'Ledger', 'Times New Roman', Times, serif;
    text-align: center;

    &-header {
      font-family: 'Cormorant Infant', 'Times New Roman', Times, serif;
      font-size: 10px;
      font-weight: 700;
      line-height: 15px;
      letter-spacing: 0em;
      text-align: center;
      
      text-transform: uppercase;

      margin-bottom: 20.46px;
    }

    &-text {
      font-size: 8px;
      font-weight: 400;
      line-height: 12px;
      letter-spacing: 0.04em;
      text-align: left;
      padding: 0 8px;
    }
    
    &-price {
      font-family: 'Cormorant Infant', 'Times New Roman', Times, serif;
      font-size: 10px;
      font-weight: 700;
      line-height: 15px;
      letter-spacing: 0em;
      text-align: left;

      position: absolute;
      left: 82.1;
      bottom: 13.35;
    }
  }

  &__pagination {
    margin: auto;
    height: 20px;
    width: 80px;
    position: relative;

    overflow: hidden;

    &-wrapper {
      width: 200px;
      height: 20px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
    }

    &--mobile {
      display: none;
      visibility: hidden;

      @include onMobile {
        display: block;
        visibility: visible;
      }
    }
    
    &-item {
      @include square(14px);
      background: linear-gradient(180deg, #F7EEDB 0%, #DFCBA3 100%);
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.5s ease-in-out;

      &--invisible {
        opacity: 0;
        cursor: default;
      }

      &--is-active {
        width: 20px;
        height: 20px;
        background: #DFCBA3;
        border-radius: 6px;
        transition: all 0.5s ease-in-out;
      }
    }
  }
}
