.slider-container {
  position: relative;
  width: 358px; 
  height: 257px; 
  overflow: hidden;
}

.slider {
  display: flex;
  width: 100%;
  height: 205px;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 32px;

  &__content {
  }

}

.slide {
  flex: 0 0 100%;
  padding: 24px 16px;

  box-shadow: 0px 16px 24px -16px #3B383840;

  background-image: url("../images/border.svg");
  background-position-x: -8px;

  &__content {
    font-family: 'Ledger', 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.04em;  
  }

  &__feedback {
    line-height: 21px;
    margin-bottom: 24px;
  }

  &__name {
    font-size: 20px;
    line-height: 28px;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  gap: 16px;
}

.pagination span {
  @include square(14px);
  background: linear-gradient(180deg, #F7EEDB 0%, #DFCBA3 100%);
  border-radius: 4px;
  cursor: pointer;
}

.pagination .active {
  width: 20px;
  height: 20px;
  background: #DFCBA3;
  border-radius: 6px;
}
