$max-width-notebook: 1440px;
$max-width-mobile: 390px;

$padding-notebook: 80px;
$padding-mobile: 16px;

$column-gap-notebook: 24px;

$column-width-notebook:
calc(($max-width-notebook - $column-gap-notebook * 11) / 12)